/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */

@font-face {
    font-family:"mont";
    src: url("../fonts/sans-serif/montserrat-regular.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:"rozhaone";
    src: url("../fonts/serif/rozhaone-regular.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}

@font-face {

    font-family:"roboto";
    src: url("../fonts/serif/robotoslab-regular.ttf") format("truetype");
    font-style:normal;
    font-weight:normal;
}

/*typography*/

h1, h2, h3, h4 {
    font-family: roboto, 'Times New Roman', serif;
    letter-spacing: 0.125rem;
    color: #212326;
}

h1 {
    font-size: 4rem;
    letter-spacing: .125rem;
    transform: rotate(-5deg);
    text-align: center;
    text-shadow: 2px 2px 4px #888;
}

h2{
    padding-top: 2rem;
}
p{
    font-family: mont, Helvetica, sans-serif;
    color: #34363b;
}

.highlight {
    display: inline-block;
    padding: 0rem 1.125rem;
    font-family: rozhaone, 'Times New Roman', serif;
    font-size: 5rem;
    border-radius: 0.2rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color:#fbf2e0;
    background-color:#732C2C;
    box-shadow: 5px 5px 4px -1px #888;
    text-shadow: 4px 4px 4px #432323;
}
/* General and Defaut*/

* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

header {
    padding: 0.5rem 0rem 0.5rem 0rem;
}

nav {
    margin-top: 3 rem;

}

/* for 'blog' in nav bar*/
.link {
    transform: rotate(5deg);
    color:#732C2C;
    text-decoration: line-through;
   
}

.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;
    font-size: .85rem;
    line-height: 1.125rem;
}

article{
    grid-column: 1/2;
    grid-row: 1;
    margin-right: 2rem;
}

aside {
    grid-column: 2/3;
    grid-row: 1;
    border-left: 1.5px solid #97A4A6;
    padding-left: 0.75rem;

}

aside p {
    border-bottom: 1.5px solid #97A4A6;
    padding-bottom: 1rem;
}
.subsection {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 5rem;
}

footer{ 
    padding-top: 5rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

/*images and figures*/

img {
    width: 100%;

}

figure {
    margin: 0px;
}

.article-image {
    width: 33%;
    float: left;
    margin-right: 1rem;
    margin-top: .75rem;

}

.subsection figure {
    margin: 0rem, 0.25rem;
    background-color: #fbf2e0;
    
}

.subsection figure figcaption {
    padding: .5rem .5rem;
}

.attribution{
    text-align: right;
    grid-column: 2/3;
    grid-row: 1;
}

.copyright{
    grid-column: 1/2;
    grid-row: 1;
}

/* links and nav */

a {
    text-decoration: none;
}

footer a{
    color: #97A4A6;
}

nav a {
    display: inline-block;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    font-family: mont, Helvetica, sans-serif;
    color: #405559;

}
nav a:focus, a:hover{
    color: #5e667b;
}

nav a:active{
    color:#262124;
}

nav a:visited {
    color: #405559;
}

nav {
    border-top: 1px solid #97A4A6;
    border-bottom: 1px solid #97A4A6;
}

.expand {
    font-size: .3rem;
}

time {
    color:#405559;
}

button{
    display: inline-block;
    padding: 0rem 1.125rem;
    font-family: rozhaone, 'Times New Roman', serif;
    font-size: 2rem;
    border-radius: 0.2rem;
    border-radius: .5rem;
    border-style:none;
    color:#fbf2e0;
    background-color:#702121;
    box-shadow: 5px 5px 4px -1px #888;
    text-shadow: 4px 4px 4px #432323;
    
}

button a:focus,
    a:visited{
    text-decoration:none;
    color:#A66641;
}

button a:hover{
    text-decoration:none;
    color:#f8d287;
}

a:visited{
    text-decoration:none;
    color:#A66641;
}

a:focus,
a:hover{
    text-decoration:none;
    color: #262124;
}

a:active{
    text-decoration: none;
    color:#A66641;
}
